# Keyword Argument

In [1]:
def person(name,age):
    print (name)
    print (age-5)
person(name='nit',age=8)

nit
3

In [2]:
def person(name,age,mob):
    print(name)
    print(age-3)
    print(mob)
person(name='nit',age = 11)

TypeError: person() missing 1 required positional argument: 'mob'

In [3]:
def person(name,age,mob):
    print(name)
    print(age-1)
    print(mob)
person('nit',age=6,mob=101)

nit
5
101

In [4]:
def person(name,age=18):
    print(name)
    print(age)
person('nit')

nit
18

In [5]:
def person(name,age=18):
    print(name)
    print(age)
person('nit',40)

nit
40

# Variable Length Argument

In [6]:
def person(name,age):
    print(name)
    print(age)
person('nit',40,50,60,70)

TypeError: person() takes 2 positional arguments but 5 were given

In [7]:
def person(name,*age):
    print(name)
    print(age)
person('nit',40,50,60,70)

nit
(40, 50, 60, 70)

In [8]:
def person(name,*age):
    print(type(name))
    print(type(age))
person('nit',40,50,60,70)

<class 'str'>
<class 'tuple'>

In [9]:
def sum(a,b):
    c=a+b
    print(c)
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [10]:
def sum(a,*b):
    c=a+b
    print(c)
sum(5,6,7,8,9)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [12]:
def sum(a,*b): #First argument is fixed but second argument is variable
    #c=a+b
    print(type(a))
    print(type(b))
sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [14]:
def sum(a,*b):
    for i in b:
        a= a+i
    print(a)
sum(10,5,10,5,10,5,10,5)

60

# Kwargs(Keyword argument + variable length argument)

In [15]:
def person(name,*data):
    print(name)
    print(data)
person('nit',36,'FSDS',889911)

nit
(36, 'FSDS', 889911)

In [16]:
def person(name,*data):
    print(name)
    print(data)
person('nit',age =36,course ='FSDS',mob =889911)

TypeError: person() got an unexpected keyword argument 'age'

In [17]:
def person(name,**data): #inorder to handle keyword argument error we add other *
    print(name)
    print(data)
person('nit',age =36,course ='FSDS',mob =889911)

nit
{'age': 36, 'course': 'FSDS', 'mob': 889911}

# Local variable vs Global Variable

In [18]:
a=10
print(a)

10

In [19]:
a=10 #Global Variable

def something():
    b=15 # local variable
    print('in function',b)
    print('out function',a)

In [20]:
a=10 #Global Variable

def something():
    b=15 # local variable
    print('in function',b)
print('out function',a)

out function 10

In [21]:
a=10 #Global Variable

def something():
    b=15 # local variable
    print('in function',b)
something()
print('out function',a)

in function 15
out function 10

In [22]:
a = 10  

def something():
    a = 15
    
print('in function',a) 
  
print('out function',a)

in function 10
out function 10

In [ ]:
wqa